p,
h2,
h3,
li,
ul {
  margin: 0px;
}
section {
  display: flex;
  justify-content: flex-start;
}
#preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
#emailList {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}
#info {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}
#from {
  display: flex;
  align-items: center;
  gap: 5px;
}
.emailItem {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
