section {
  display: flex;
  justify-content: space-between;
}
#preview {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
#emailList {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.emailItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
